# Visualization on College Completion Dataset

## John Rumpel and Nimesh Sinha

In [1]:
import pandas as pd
import plotly.offline as offline
import plotly
import pandas as pd
import plotly.plotly as py
import plotly.graph_objs as go
from bokeh.palettes import Spectral11
from bokeh.plotting import figure, show, output_file
import plotly.offline as offline
import plotly.offline as offline
from plotly.offline import init_notebook_mode, iplot
from IPython.display import display, HTML
init_notebook_mode(connected=True)
import plotly.plotly as py
import plotly.graph_objs as go

If you pull the github before running this notebook, you'll have the data to run the code for yourself.

In [11]:
data= pd.read_csv('../college_completion/cc_institution_details.csv',encoding = 'latin1')

In [12]:
data.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

This is what our data looks like. The data has 3,800 degree-granting institutions in the United States (excluding territories) that reported a first-time, full-time degree-seeking undergraduate cohort, had a total of at least 100 students at the undergraduate level in 2013, and awarded undergraduate degrees between 2008 and 2013. As you can see there's a lot of information with the 62 columns, so there is a lot we could explore, aside from the fact there are also a lot of missing values.

In [14]:
data['state_100_avg'] = data.groupby(['state'])['grad_100_value'].transform('mean')

In [15]:
data.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size,state_100_avg
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0,16.809091
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0,16.809091
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0,16.809091
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0,16.809091
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0,16.809091

In [18]:
data['state_100_avg'] = ['%.1f' % round(x, 1) for x in data['state_100_avg']]

In [31]:
data[['state','state_100_avg']].drop_duplicates()

                     state state_100_avg
0                  Alabama          16.8
56                  Alaska          19.2
62                 Arizona          20.3
93              New Mexico          10.9
103               Arkansas          19.0
143             California          26.3
381              Minnesota          30.7
391               Colorado          28.4
442            Connecticut          31.5
477               Delaware          33.0
485   District of Columbia          39.7
493               Virginia          32.3
496                Florida          33.5
550                Georgia          22.3
670                 Hawaii          14.7
682                  Idaho          17.6
695               Illinois          28.9
817                Indiana          31.7
849              Tennessee          28.5
875                   Iowa          36.2
930                 Kansas          30.8
960               Missouri          32.7
986               Kentucky          22.9
1039             Louisiana          24.7
1079                 Maine          32.7
1106              Maryland          24.4
1152         Massachusetts          43.3
1246              Michigan          17.1
1397           Mississippi          22.8
1502               Montana          17.8
1523              Nebraska          28.6
1555                Nevada          19.7
1566         New Hampshire          34.6
1589            New Jersey          28.2
1664              New York          33.3
1887        North Carolina          23.7
2003          North Dakota          23.4
2023                  Ohio          27.3
2176              Oklahoma          22.5
2217                Oregon          25.0
2259          Pennsylvania          42.4
2448          Rhode Island          53.0
2460        South Carolina          26.5
2515          South Dakota          24.1
2602                 Texas          21.3
2752                  Utah          27.4
2770               Vermont          35.2
2864            Washington          29.6
2921         West Virginia          25.7
2950             Wisconsin          31.2
3006               Wyoming          26.5

In [32]:
data1 = [go.Bar(
            x= data['state'].unique(),
            y= data['state_100_avg'].unique()
    )]
layout = go.Layout(
    title='Average graduation rate for each state in the U.S. ',
   
    yaxis=dict(
        title='Average graduation rate',
        titlefont=dict(
            family='Courier New, monospace',
            size=18,
            color='#7f7f7f'
        )
    )
)
fig = go.Figure(data=data1, layout=layout)
iplot(fig)
#plotly.offline.plot(data1, layout = layout, filename='grad_rate_bar')

The above plot shows the variation of average graduation rate across each state in the U.S.

In [8]:
state = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
}

The above is needed to make a map for the visualization.

In [9]:
df['state'] = ['Virginia' if x == 'District of Columbia' else x for x in df['state']]
df['code'] = [state[x] for x in df['state']]
df['code'].unique()

array(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'VA', 'FL', 'GA',
       'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA',
       'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY',
       'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
       'UT', 'VT', 'WA', 'WV', 'WI', 'WY'], dtype=object)

For now we added the District of Columbia to Virgina since there is no way to add it to plotly's map and it is the closest state. This may be a problem later.

In [10]:
for col in df.columns:
    df[col] = df[col].astype(str)

In [11]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]
df['text'] = df['state'] + '<br>' +'Graduation Rate '+df['grad_100_value']+'%'

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = df['code'],
        z = df['grad_100_value'].astype(float),
        locationmode = 'USA-states',
        text = df['text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Percentage")
        ) ]

layout = dict(
        title = 'Graduation rates by State<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
#py.iplot( fig, filename='d3-cloropleth-map' )
#plotly.offline.plot(fig, filename='ch.html')
iplot(fig)

The above interactive choropleth heatmap shows variation of average graduation rates for all the states in the U.S. Hovering over any state gives the value of average graduation rate for the institutions in that state.